---
layout: default
---

{% include small-menu.html %} 

<div id="home" class="page-content wc-container">

	<div class="posts reading leading">
  		{% for post in site.posts limit:10 %}
  			<div class="post">
    			<h2 class="post-title nocount">
			      <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
			        {{ post.title }}
			      </a>
    			</h2>
    			<span class="post-date">
    			    {{ post.date | date_to_string }}
                </span>   			
  				<p>
	  				{{ post.description }}
  					<a class="button" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" title="{{ post.title}}">
  						czytaj&nbsp;dalej
					</a>
  				</p>
  			</div>
  		{% endfor %}
	    <div class="post-footer">
		    <div class="column-full"><a href="{{ '/archive' | prepend: site.baseurl | prepend: site.url }}">Zobacz starsze wpisy</a></div>
	    </div>
	</div>
</div>
