// General colors

$color-white: #FFF;
$color-black: #000;

$color-1: $color-white;
$color-2: #333333;

// Color schemes for themes based on https://github.com/chriskempson/base16
$base-00: #2b2b2b; // header, footer, h1, h2, etc
$base-01: #272935; // body.theme-base-01
$base-02: #bbbbbb; //#3a4055; // not used
$base-03: #5a647e; // not used
$base-04: #d4cfc9; // tables
$base-05: #bbbbbb; // various borders
$base-06: #f4f1ed; // not used
$base-07: #f9f7f3; // Not for theme selection
$base-08: #428bca; // #da4939; // urls
$base-09: #ffdd00; //#cc7833; // header background
$base-0A: #ffffff; //#ffc66d; // header
$base-0B: #ca4042; //#da4939;//#8bca42; //#a5c261; // hover links
$base-0C: #519f50; // not used
$base-0D: #6d9cbe; // not used
$base-0E: #b6b3eb; // not used
$base-0F: #bc9458; // not used



// Fonts 
$primary-font: 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
