<ul>
	<li>
		<a href="https://github.com/withspace/serverless-webapp-starter" target="_blank">Starter</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/archive' | prepend: site.baseurl | prepend: site.url }}">Archiwum bloga</a><span>/</span>
	</li>
	<li>
		<a href="https://github.com/dzikowski" target="_blank">Moje repozytoria</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">O mnie</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">RSS</a><span>/</span>
	</li>
</ul>
